body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: repeating-linear-gradient(to bottom right, #0b111c, #0d1d30)
    left  / 150%   300% no-repeat;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-mobile {
    display: none;
}

.task {
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    max-width: 70%;
    min-width: 30vh;
    background-color: #0d1d30;
    color: #e9feff;
    font-size: 1.5vw;
    border-radius: 0.7vw;
    padding: 1vh;
    padding-left: 2%;
    margin: 3vh;
    margin-left: 15vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border: 0.1vw solid #152137;
    margin-left: 12vh;
}

.filter {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    min-width: 30vh;
    background-color: #0d1d30;
    color: #e9feff;
    border-radius: 2vh;
    padding-left: 2vh;
    padding-right: 1.5vw;;
    margin: 3vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border: 1.5px solid #152137;
    margin-left: 12vh;
    min-width: 30vh;
    font-size: 2vw;
}

@media screen and (max-width: 768px) {
    .completed {
        display: none;
    }

    .login-box form a {
        font-size: 1.5vh !important;
    }

    .login-box h2 {
        font-size: 3vh !important;
    }

    .login-box .user-box label {
        font-size: 1.5vh !important;
    }

    .filter h3 {
        font-size: 3vh !important;
    }

    .footer h1 {
        font-size: 3vh !important;
    }

    .footer {
        font-size: 1.5vh !important;
    }

    .login-box .user-box input {
        font-size: 1.5vh !important;
    }

    .login-box .user-box {
        margin-top: 2vh !important;
    }

    .button {
        padding: 1vh !important;
        margin-bottom: 1vh;
        min-width: 15vh;
        font-size: 2vh !important;
        border-radius: 1vh !important;
    }

    .task {
        margin: auto;
        flex-direction: column;
        padding: 1vh;
        margin-top: 3vh;
        justify-content: space-between;
        max-height: 50vh;
        font-size: 2.5vh;
        border-radius: 2vh;
    }

    .filter {
        display: block;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
        max-height: 20vh;
        align-items: flex-start;
        max-height: 60vh;
        padding: 1vh;
        text-align: center;
        font-size: 3vh;
    }

    .container-mobile {
        display: block !important;
        margin: auto;
    }

    .container {
        display: none !important;
    }

    .login-box {
        min-width: 60vw !important;
        margin-top: 3vh !important;
        margin-bottom: 3vh !important;
        padding: 5% !important;
        margin-left: auto !important;
    }

    #task-details {
        min-width: 20%;
        margin: 2vh;
        padding: 1.5vh !important;
        font-size: 1.5vh !important;
        border-radius: 1vh !important;
    }

    #task-details-orange {
        min-width: 20%;
        margin: 2vh;
        padding: 1.5vh !important;
        font-size: 1.5vh !important;
        border-radius: 1vh !important;
    }

    .bgimg {
        display: none !important;
    }

    .footer {
        padding-left: 10%;
    }

    #delete {
        margin-top: 1vh !important;
        font-size: 1.5vh !important;
        padding: 1vh !important;
        border-radius: 1vh !important;
    }

    .check img {
        width: 1.5vh !important;
    }

    .completed img {
        width: 1.5vh !important;
    }

    #done {
        margin-top: 1vh !important;
        font-size: 1.5vh !important;
        padding: 1vh !important;
        border-radius: 1vh !important;
    }
}

.button {
    color: #e9feff;
    border: 1.5px solid #152137; 
    background-color: #0b111c;
    max-width: 40%;
    height: 20%;
    border-radius: 0.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1vw;
    margin-left: 3%;
    text-align: center;
    padding: 0.5vw;
    transition: 0.3s;
    margin-right: 2vh;
}

.button:hover {
    background-color: #28394e;
    cursor: pointer;
    border: 1.5px solid #152137; 
}

.button:active {
    background-color: #152137;
    border: 1.5px solid #152137; 
}

.button:focus {
    background-color: #03e9f4;
    border: 1.5px solid #152137;
    color: #0b111c;
}

#completed-btn:focus {
    background-color: #eca22c;
    color: #0b111c;
}

#all-btn:focus {
    background-color: #e9feff;
    color: #0b111c;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    padding: 4%;
    color: #e9feff;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), #0d1d30, #152137);
    font-size: 1vw;
}

.footer h1 {
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 700;
    color: #e9feff;
    font-size: 2vw;
}

#done {
    color: #e9feff;
    font-size: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    border: 1.5px solid #03e9f4;
    display: flex;
    background-color: #0b111c;
    transition: 0.3s;
    background-image: linear-gradient(to bottom right, #0d1d30, #0d1d30);
}

#done:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 2px #03e9f4;
}


#delete {
    color: #e9feff;
    font-size: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    border: 1.5px solid #eca22c;
    display: flex;
    transition: 0.3s;
    background-image: linear-gradient(to bottom right, #0d1d30, #0d1d30);
}

#delete:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #eca22c, 0 0 20px #eca22c, 0 0 2px #eca22c;
}

#task-details {
    word-wrap: break-word;
    max-width: 60%;
    min-width: 20%;
    border-radius: 0.7vw;
    color: #e9eaff;
    padding: 0.5vw;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 2px #03e9f4;
    background-image: linear-gradient(to bottom right, #0d1d30, #0d1d30);
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 1vw;
}

#task-details-orange {
    word-wrap: break-word;
    max-width: 60%;
    min-width: 20%;
    border-radius: 0.7vw;
    color: #e9feff;
    padding: 0.5vw;
    font-weight: 400;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px #eca22c, 0 0 20px #eca22c, 0 0 2px #eca22c;
    background-image: linear-gradient(to bottom right, #0d1d30, #0d1d30);
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 1vw;
    text-align: center;
}

.login-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: 20%;
    width: 30%;
    min-height: 35vh;
    padding: 2%;
    background:  linear-gradient(to bottom right, #0d1d30, #0b111c);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 12vh;
    height: 20%;
    border: 1.5px solid #152137;
    margin-bottom: 3vh;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: #152137;
    margin: 2vh 0;
}

.completed {
    color: #e9feff;
    font-size: 2vw;
    padding: 1vw;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-left: 10vw;
    text-align: left;
}

.container {
    min-width: 40rem;
    display: flex;
    align-items: stretch;
}

.bgimg {
    width: 40vw;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #e9feff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2vw;
}

.login-box .user-box {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin-top: 3vw;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 1.5vw;
    color: #e9feff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1.5vw;
    color: #e9feff;
    pointer-events: none;
    transition: 0.5s;
}

.filter h3 {
    font-size: 2vw;
}

.check img {
    width: 1vw;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -3vh;
    left: 0;
    color: #03e9f4;
    font-size: 1vw;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}


.login-box a:hover {
    background: #03e9f4;
    color: #e9feff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
    
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
    
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

